[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
tortoise-orm = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
pyjwt = "*"
sendgrid = "*"
python-multipart = "*"
pillow = "*"
aiofiles = "*"
pydantic = {extras = ["dotenv"], version = "*"}

[dev-packages]
pytest = "*"
httpx = "*"

[requires]
python_version = "3.11"
